extends layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                #user
                    h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
                        div
                            ul
                                li Username ---> #{user.username}
                                li Email    ---> #{user.email}
                        a(href='/signout', class='text-center new-account') Sign Out
                        
block javascript
    //- script(data-main='js/main', src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js')
    script(data-main='/scripts/main', src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.js')
