extends layout

block content
    div.container
        h1.header.center cede.io
        div.row
            div.col.offset-s2.s8.offset-m4.m4
                form(class='form-signin', action='/login', method='POST')
                    div.row
                        div.input-field
                            input.validate(type='text', name='username', required, autofocus)
                            label(for='username') username
                    div.row
                        div.input-field
                            input.validate(type='password', name='password', required)
                            label(for='password') password
                    div.row
                        button.black.btn.waves-effect.waves-light(type='submit') Submit
                            i.material-icons.right send
            #message
                if message
                    h1.text-center.error-message #{message}
        div.row.center
            a(href='/signup') create an account
