extends layout

block content
    div.container
        h1.header.center cede.io
        div.row
            div.col.offset-s2.s8.offset-m4.m4
                form(class='form-signin', action='/login', method='POST')
                    div.row
                        div.input-field
                            input.validate(type='text', name='username', class='form-control', required, autofocus)
                            label(for='username') Username
                    div.row
                        div.input-field
                            input.validate(type='password', name='password', class='form-control', required)
                            label(for='password') Password
                    div.row
                        button.black.btn.waves-effect.waves-light(type='submit') Submit
                            i.material-icons.right send
            #message
            if message
                h1.text-center.error-message #{message}
        div.row.center
            a(href='/signup', class='text-center new-account') Create an account
                
        
        
        
        
            //- div.col-sm-6.col-md-4.col-md-offset-4
            //-         div.account-wall
            //-             img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
            //-             form(class='form-signin', action='/login', method='POST')
            //-                 input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
            //-                 input(type='password', name='password' class='form-control', placeholder='Password', required)
            //-                 button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
            //-                 span.clearfix
            //-         a(href='/signup', class='text-center new-account') Create an account
            //-         #message
            //-         if message
            //-             h1.text-center.error-message #{message}
