doctype html
html
    head

        title= title

        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body
        block content
        
        block javascript
