extends layout

block content
    div.container
        h1.header.center register
        div.row
            div.col.offset-s2.s8.offset-m4.m4
                form(class='form-signin', action='/signup', method='POST')
                    div.row
                        div.input-field
                            input.validate(type='text', name='username', required, autofocus)
                            label(for='username') username
                    div.row
                        div.input-field
                            input(type='password', name='password', required)
                            label(for='password') password
                    div.row
                        div.input-field
                            input(type='password', name='password', required)
                            label(for='password') confirm password
                    div.row
                        div.input-field
                            input(type='email', name='email', required)
                            label(for='email') email
                    div.row
                        button.black.btn.waves-effect.waves-light(type='submit') register
            #message
                if message
                    h1.text-center.error-message #{message}
        div.row.center
            a(href='/') log in with an existing account
            
block javascript
    //- script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://code.jquery.com/jquery-3.1.1.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js')
